<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Query result</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td><span th:text="${book.id}">ID</span></td>
				<td><span th:text="${book.title}">ID</span></td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>